.container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 5px;
    align-items: center;
}

.label span {
    margin-bottom: 5px;
}

.dimensions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.title {
    text-align: center;
    margin: auto 5px;
}
